.pinkColor{
    color: #EB7DA7;
}

.apis__section{
    background: #F8FAFD;
    width: 100%;
    height: auto;
    padding: 10rem 1.25rem;
}

.apis__container{
    max-width: 68.25rem;
    margin: 0 auto;
    color: #1D1D1D;
}

.h1{
    max-width: 52.625rem;
    height: auto;
    line-height: 1.1;
    margin: 0 0 2.5rem;
    font-family: var(--kanit-font);
    font-size: 5rem;
}

.api__description{
    margin: 0 0 2.5rem;
    font-size: 1.375rem;
    font-family: var(--montserrat-font);
    max-width: 38.75rem;
    height: auto;
    line-height: 1.5;
}

.ul{
    margin: 0 0 4.375rem;
}

.li{
    margin: 0 0 1.5rem;
    position: relative;
    font-size: 1.125rem;
    font-family: var(--montserrat-font);
    padding-left: 2.125rem;
    line-height: 1.2;
}

.li::before{
    background-color: #262c55;
    border-radius: 100%;
    content: "";
    position: absolute;
    width: 1.25rem;
    height: 0.688rem;
    top: 0.3rem;
    left: 0;
}

.btn__lg{
    background-color: var(--denim-color);
    width: 12.25rem;
    height: 4.625rem;
    padding: 28px 32px;
    color: var(--white-color);
    border-radius: 0.5rem;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.btn__label{
    font-size: 0.875rem;
    font-family: var(--montserrat-font);
}


@media only screen and (max-width: 900px){
    .h1{
        font-size: 3.125rem;
    }
}


@media only screen and (max-width: 768px){
    .apis__section{
        padding: 6.25rem 1.25rem;
    }

    .h1{
        margin: 0 0 1.875rem;
    }
}


@media only screen and (max-width: 600px){
    .apis__section{
        padding: 4.375rem 1.25rem;
    }
    
    .h1{
        font-size: 2.25rem;
        margin: 0 0 1.125rem;
    }

    .api__description{
        font-size: 1rem;
        margin: 0 0 1.875rem;
    }

    .li{
        font-size: 1rem;
    }

    .btn__lg{
        width: 10rem;
        height: 3.75rem;
        padding: 22px 28px;
    }

    .btn__label{
        font-size: 0.75rem;
    } 
     
}