.cl__section{
    width: 100%;
    height: auto;
    padding: 6.25rem 1.25rem;
}

.cl__box{
    margin: 0 auto;
    max-width: 68.25rem;
    color: var(--white-color);
    background-color: #1D1D1D;
    padding: 1.875rem;
    border-radius: 1rem;
    box-shadow: 0 25px 50px rgb(29 29 29 / 50%);
}

.cl__wrapper{
    margin: 4.125rem auto;
    max-width: 46.375rem;
    height: auto;
}

.cl__heading{
    width: 100%;
    height: auto;
    line-height: 1.1;
    font-size: 3.125rem;
    color: var(--white-color);
    font-family: var(--kanit-font);
    margin: 0 0 1.875rem;
}

.cl__subheading{
    width: 100%;
    height: auto;
    line-height: 1.6;
    margin: 0 0 4.125rem;
    font-size: 1.25rem;
    font-family: var(--montserrat-font);
}

.cl__ctas{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.btn__sm{
    background: var(--white-color);
    max-width: 8.438rem;
    height: 3.75rem;
    padding: 21px 24px;
    border-radius: 0.5rem;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.btn__label{
    color: var(--black-color);
    font-size: 0.875rem; 
    font-family: var(--montserrat-font);
    font-weight: 700;
    display: inline-flex;
}

.link{
    padding: 4px 5px;
    max-width: 127px;
    height: auto;
    text-decoration: none;
    text-align: center;
}

.link__label{
    color: var(--white-color);
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 0.875rem;
    display: inline-flex;
}



@media only screen and (max-width: 768px){
    .cl__section{
        width: 100%;
        height: auto;
        padding: 4.375rem 1.25rem;
    }

    .cl__wrapper{
        margin: 3.375rem auto;
    }

    .cl__heading{
        margin: 0 0 1.75rem;
    }

    .cl__subheading{
        font-size: 1.125rem;
        margin: 0 0 2.625rem;
    }
}


@media only screen and (max-width: 600px){
    .cl__wrapper{
        margin: 1.875rem auto;
    }

    .cl__heading{
        font-size: 1.875rem;
        margin: 0 0 1.25rem;
    }

    .cl__subheading{
        margin: 0 0 1.875rem;
        font-size: 1rem;
    }
}


@media only screen and (max-width: 380px){
    .btn__sm{
        height: 2.5rem;
        padding: 10px 24px;
    }

    .link__label{
        font-size: 1rem;
    }
}