:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --kanit-font: 'Kanit', sans-serif;
    --denim-color: #0A0E27;
    --white-color: #fff;
}

.grColor{
    color: #35A162;
}

.commerce{
    width: 100%;
    height: auto;
    background-color: #F8FAFD;
    padding: 10rem 1.25rem;
}

.commerce__container{
    max-width: 68.25rem;
    margin: 0 auto;
}

.h1{
    font-size: 5rem;
    font-family: var(--kanit-font);
    max-width: 63.75rem;
    margin: 0 0 6.75rem;
    line-height: 1.1;
    color: #1D1D1D;
}

.commerce__grid{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}

.commerce__grid:nth-child(2){
    margin: 0 0 6.25rem;
}

.item:nth-child(1){
    height: fit-content;
    height: -moz-fit-content;
    width: 100%;
}

.commerce__title{
    font-size: 1.375rem;
    font-family: var(--montserrat-font);
    font-weight: 700;
    margin: 0 0 1.25rem;
    padding: 0 0 0 0.25rem;
    width: 100%;
    height: auto;
}

.commerce__description{
    font-size: 1.125rem;
    padding: 0 0 0 0.25rem;
    margin: 0 0 1.875rem;
    font-family: var(--montserrat-font);
    width: 100%;
    height: auto;
    line-height: 1.5;
}

.item{
    height: inherit;
    width: inherit;
}

.image__wrapper1{
    max-width: 100%;
    height: auto;
}

.image__wrapper2{
    max-width: 100%;
    height: auto;
}


.btn__sm{
    background-color: var(--denim-color);
    width: 8.438rem;
    height: 3.125rem;
    padding: 15px 25px;
    color: var(--white-color);
    border-radius: 0.5rem;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.btn__label{
    font-size: 0.875rem;
    font-family: var(--montserrat-font);
}



.figure{
    width: inherit;
    height: inherit;
}

.figurecaption{
    font-size: 1rem;
    font-family: var(--montserrat-font);
    margin: 1.25rem 0 0;
    color: #1D1D1D;
    line-height: 1.5;
}

.grid__section{
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
}

.grid__item:nth-child(1){
    margin: 0 0 5.625rem;
}

.btn__inline{
    padding: 4px 5px;
    text-decoration: none;
    color: #FB4E20;
    font-family: var(--montserrat-font);
}


.commerce__para__wrapper{
    margin: 7.5rem 0 0;
}


.commerce__para__text{
    font-family: var(--montserrat-font);
    font-size: 5rem;
    font-weight: 400;
    color: #1D1D1D;
    margin: 0 0 3rem;
    line-height: 1.2;
}

.btn__lg{
    background-color: var(--denim-color);
    width: 9.938rem;
    height: 4.625rem;
    padding: 28px 32px;
    color: var(--white-color);
    border-radius: 0.5rem;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}



@media only screen and (max-width: 900px){
    .h1{
        font-size: 3.125rem;
    }

    .commerce__para__text{
        font-size: 3.125rem;
        margin: 0 0 2.75rem;
    }
}


@media only screen and (max-width: 768px){
    .commerce{
        padding: 6.25rem 1.25rem;
    }

    .commerce__grid{
        flex-direction: column;
    }

    .commerce__grid__alt{
        flex-direction: column-reverse;
    }

    .commerce__para__wrapper{
        margin: 6.25rem 0 0;
    }
}


@media only screen and (max-width: 600px){
    .commerce{
        padding: 4.375rem 1.25rem;
    }

    .h1{
        font-size: 2.25rem;
        margin: 0 0 3.875rem;
    }

    .commerce__title{
        font-size: 1.25rem;
        margin: 0 0 1rem;
    }

    .commerce__description{
        font-size: 1rem;
        margin: 0 0 1.625rem;
    }

    .commerce__para__wrapper{
        margin: 5.625rem 0 0;
    }
    
    .commerce__para__text{
        font-size: 2.25rem;
        margin: 0 0 2.5rem;
    }

    .btn__label{
        font-size: 0.75rem;
    }

    .btn__lg{
        width: 8.625rem;
        height: 3.75rem;
        padding: 22px 28px;
    }
}