:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --kanit-font: 'Kanit', sans-serif;
    --white-color: #fff;
    --black-color: #000;
}

.customer{
    width: 100%;
    height: auto;
    margin: -9.375rem 0 0;
    padding: 10rem 0 5rem;
}

.customer__container{
    max-width: 105rem;
    margin: 0 auto;
}

.customer__grid{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: flex-start;
    gap: 4em;
}

.grid__item{
    height: auto;
}

.grid__item:nth-child(2){
    margin: -10rem 0 0;
}

.image__wrapper{
    height: 100%;
    width: 100%;
}

.customer__grid__text{
    max-width: 23.75rem;
    line-height: 1.3;
    font-size: 1.25rem;
    font-family: var(--montserrat-font);
    margin: 3.125rem 0 0;
}





@media only screen and (max-width: 900px){
    .customer{
        padding: 7.5rem 0 5rem;
    }
}

@media only screen and (max-width: 768px){
    .customer{
        padding: 0 1.25rem 1.875rem;
        margin: 0;
    }

    .customer__grid{
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .grid__item:nth-child(2){
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .customer__grid__text{
        max-width: 100%;
        margin:  0 0 1.875rem;
        font-size: 1rem;
    }
}