.blColor{
    color: var(--blue-color);
    display: inline-block;
    height: inherit;
}

.global__reach{
    width: 100%;
    height: auto;
    background: var(--white-color);
    padding: 10rem 1.25rem;
}

.global__reach__container{
    color: #1D1D1D;
    max-width: 68.25rem;
    margin: 0 auto;
}

.h1{
    font-size: 5rem;
    font-family: var(--kanit-font);
    max-width: 52.625rem;
    height: 5.375rem;
    margin: 0 0 6.625rem;
    line-height: 1;
    color: #1D1D1D;
}

.stats{
    width: 100%;
    height: auto;
}

.stat{
    padding: 0 0 0 2.25rem;
    position: relative;
}

.stat::before{
    content: "";
    position: absolute;
    border-left: 3px solid #1D1D1D;
    top: 0.125rem;
    left: 0;
    height: 1.5rem;
    width: 0.125rem;
}

.diff{
    margin: 0 0 3.875rem;
}

.link{
    font-size: 1.125rem;
    text-decoration: none;
    cursor: pointer;
    color: #00ABAB;
    font-weight: 700;
    font-family: var(--montserrat-font);
    height: auto;
    width: 100%;
    display: block;
    margin: 0 0 0.5rem;
}

.stat__heading{
    font-size: 1.125rem;
    font-weight: 700;
    font-family: var(--montserrat-font);
    height: auto;
    line-height: 1;
    width: 100%;
    margin: 0 0 0.5rem;
}

.stat__info{
    font-size: 0.875rem;
    width: 100%;
    font-family: var(--montserrat-font);
    height: auto;
}

.stat__list{
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    height: 7.5rem;
    flex-wrap: wrap;
}

.li{
    margin: 0 0 0.75rem;
    font-size: 0.875rem;
    font-family: var(--montserrat-font);
}



@media only screen and (max-width: 900px){
    .h1{
        font-size: 3.125rem;
        height: 3.5rem; 
    }
}


@media only screen and (max-width: 768px){
    .global__reach{
        padding: 6.25rem 1.25rem;
    }

    .h1{
        margin: 0 0 2.125rem;
    }
}


@media only screen and (max-width: 600px){
    .global__reach{
        padding: 4.375rem 1.25rem;
    }

    .h1{
        font-size: 2.25rem;
        height: 2.75rem; 
    }

    .stat__list{
        height: auto;
        flex-wrap: nowrap;
    }
}


