:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --kanit-font: 'Kanit', sans-serif;
    --denim-color: #0A0E27;
    --white-color: #fff;
    --black-color: #000;
}

.orColor{
    color: #FB9129;
}



.hero{
    width: 100%;
    height: auto;
    padding: 5.625rem 1.25rem;
}

.hero__container{
    max-width: 68.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.hero__info{
    max-width: 50rem;
    height: inherit;
}

.hero__heading{
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 6.25rem;
    font-family: var(--kanit-font);
    font-weight: 900;
    margin: 0 0 1.875rem;
    line-height: 1.1;
}

.hero__subheading{
    max-width: 38.125rem;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.25rem;
    font-family: var(--montserrat-font);
    margin: 0 0 2.5rem;
    line-height: 1.5;
}

.hero__ctas{
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
}

.hero__btn{
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 0.625rem;
    padding: 21px 24px;
    display: inline-flex;
    align-items: center;
    text-align: center; 
    cursor: pointer;
}

.btn__primary{
    width: 12.938rem;
    background: var(--denim-color);
    color: var(--white-color);
    margin-right: 1.5rem;
}

.btn__secondary{
    width: 9.153rem;
    background: #eee;
    color: var(--black-color);
}

.btn__label{
    font-size: 0.875rem;
    font-weight: 600;
    font-family: var(--montserrat-font);
    width: 100%;
}




@media only screen and (max-width: 900px){
    .hero__heading{
        height: fit-content;
        font-size: 4.375rem;
    }
    
}


@media only screen and (max-width: 600px){
    .hero{
        padding: 5.125rem 1.25rem;
    }

    .hero__heading{
        font-size: 3.125rem;
        margin: 0 0 1.375rem;
    }
    
    .hero__subheading{
        font-size: 1.125rem;
        margin: 0 0 2.125rem;
    }

    .hero__btn{
        padding: 18px 21px;
    }
}


@media only screen and (max-width: 425px){
    .hero{
        padding: 4.5rem 1.25rem;
    }

    .hero__heading{
        font-size: 2.25rem;
    }

    .hero__subheading{
        font-size: 1rem;
    }

    .hero__ctas{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hero__btn{
        width: 100%;
    }

    .btn__primary{
        margin-bottom: 1.5rem;
        margin-right: 0;
    }
}