:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --kanit-font: 'Kanit', sans-serif;
    --denim-color: #0A0E27;
    --white-color: #fff;
    --orange-color: #FB9129;
}

.orColor{
    color: var(--orange-color);
}

.payment{
    width: 100%;
    height: auto;
    padding: 10.5rem 1.25rem 10rem;
    background: var(--white-color);
}

.payment__container{
    max-width: 68.25rem;
    margin: 0 auto;
    color: #1d1d1d;
}

.h1{
    font-size: 5rem;
    font-family: var(--kanit-font);
    font-weight: 900;
    width: 40.625rem;
    height: auto;
    line-height: 1.1;
    margin: 0 0 3.625rem;
}

.payment__grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 4rem;
}

.payment__grid > *:first-child{
    margin: auto 0;
}

.payment__grid > *:last-child{
    margin: auto 0;
}

.grid__section{
    width: 100%;
    height: fit-content;
}

.alt__grid__section > *:first-child{
    margin: 0 0 6.25rem;
} 

.payment__item{
    height: inherit;
    width: inherit;
}

.payment__title{
    font-size: 1.375rem;
    font-family: var(--montserrat-font);
    padding: 0 0 0 0.25rem;
    margin: 0 0 1.125rem;
    font-weight: 700;
}

.payment__description{
    margin: 0 0 1.875rem;
    padding: 0 0 0 0.375rem;
    font-size: 1.125rem;
    font-family: var(--montserrat-font);
    font-weight: 400;
    width: 100%;
    height: auto;
    line-height: 1.4;
}

.payment__img{
    max-width: 320px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 4px 20px rgba(0,0,0,.2));
}

.btn__block{
    background-color: var(--denim-color);
    width: 127px;
    height: 50px;
    padding: 15px 25px;
    color: var(--white-color);
    border-radius: 0.5rem;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.block__label{
    font-size: 0.75rem;
    font-family: var(--montserrat-font);
}

.btn__inline{
    padding: 4px 5px;
    text-decoration: none;
    color: #FB4E20;
}




@media only screen and (max-width: 900px){
    .h1{
        font-size: 3.125rem;
    }

    .payment__grid{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}