.section__payments{
    padding: 168px 20px 160px;

    @media screen and (max-width: 56.25rem){
        padding: 130px 20px 160px;
    }

    @media screen and (max-width: 48rem){
        padding: 100px 20px;
    }

    @media screen and (max-width: 37.5rem){
        padding: 70px 20px;
    }

    .payments__wrapper{
        max-width: 68.25rem;
        margin: 0 auto;

        .payments__h1{
            margin-bottom: 58px;
            max-width: 580px;
        }

        .feature:not(:last-child){
            margin-bottom: 100px;
        }

        .media{
            max-width: 20rem;
            text-align: center;

            @media screen and (max-width: 56.25rem){
                margin: 60px 0;
            }

            .features-grid__section__img{
                width: 100%;
                height: auto;
                max-height: 650px;
                object-fit: contain;
                filter: drop-shadow(0 4px 20px rgba(0,0,0,.2));
            }
        }
    }
}