@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700;800;900&family=Montserrat:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

img{
    width: 100%;
    height: 100%;
    display: block;
}

