@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    --heading-font: 'Kanit', sans-serif;
    --normal-font: 'Montserrat', sans-serif;
  
    --black-color: #000000;
    --white-color: #ffffff;
    --primary-text-color: #1D1D1D;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
    overflow-y: auto;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



